# The logging level, using RFC5424 syslog levels.
LOG_LEVEL=debug

# Log directory.
LOG_DIR=/var/log/temperature-display

# The display time, in milliseconds, for each temperature.
DISPLAY_TIME_MS=3000

# Loggly tokens.
LOG_LOGGLY_TOKEN=
LOG_LOGGLY_SUBDOMAIN=

# Pairs of: <sensor file> <sensor name>
# For example: /sys/bus/w1/devices/28-0000043a7cce/w1_slave office1 /sys/bus/w1/devices/28-000004cdd154/w1_slave office2
DEVICES=/sys/bus/w1/devices/28-0000043a7cce/w1_slave office1 /sys/bus/w1/devices/28-000004cdd154/w1_slave office2
